.App {
    text-align: center;
    font-family: 'Lekton', sans-serif;
    background-color: #d9a34b;
    min-height: 100vh;

}

.App-header {
    background-color: #e3ced3;
    min-height: 70px;
    padding: 20px;
    color: black;
    margin-bottom: 15px;
    border-bottom: 5px solid #9e2f28;
}

.Comments-input {
    font-family: 'Lekton', sans-serif;
    outline: none;
    background-color: #fff7c9;
    font-size: 1rem;
}
